<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Devoluciónes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Devoluciónes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Devoluciónes.My.MySettings>
            <setting name="CNSGestion_Instancia" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="CNSGestion_BD" serializeAs="String">
                <value>GI_DN</value>
            </setting>
            <setting name="CNSGestion_Usuario" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="CNSGestion_Contrasenia" serializeAs="String">
                <value>ts2008</value>
            </setting>
            <setting name="CNSDragon_Servidor" serializeAs="String">
                <value>SVRDRAGON</value>
            </setting>
            <setting name="CNSDragon_Instancia" serializeAs="String">
                <value>ZOOLOGIC</value>
            </setting>
            <setting name="CNSDragon_BD" serializeAs="String">
                <value>DRAGONFISH_CENTRAL</value>
            </setting>
            <setting name="CNSDragon_Usuario" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="CNSDragon_Contrasenia" serializeAs="String">
                <value>1234</value>
            </setting>
            <setting name="CNSLince_BDArt" serializeAs="String">
                <value>art</value>
            </setting>
            <setting name="CNSLince_BDMov" serializeAs="String">
                <value>mer</value>
            </setting>
            <setting name="CNSHexagono_Servidor" serializeAs="String">
                <value>SERVERVERLOP</value>
            </setting>
            <setting name="CNSHexagono_Instancia" serializeAs="String">
                <value>SQLEXPRESS2008V</value>
            </setting>
            <setting name="CNSHexagono_BD" serializeAs="String">
                <value>verlop</value>
            </setting>
            <setting name="CNSHexagono_Usuario" serializeAs="String">
                <value>dr</value>
            </setting>
            <setting name="CNSHexagono_Contrasenia" serializeAs="String">
                <value>21goREkime</value>
            </setting>
            <setting name="CNSDevoluciones_Servidor" serializeAs="String">
                <value>SVRDRAGON</value>
            </setting>
            <setting name="CNSDevoluciones_Instancia" serializeAs="String">
                <value>ORAMOS</value>
            </setting>
            <setting name="CNSDevoluciones_BD" serializeAs="String">
                <value>Devoluciones</value>
            </setting>
            <setting name="CNSDevoluciones_Usuario" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="CNSDevoluciones_Contrasenia" serializeAs="String">
                <value>21goREkime</value>
            </setting>
            <setting name="IntervaloBusqueda" serializeAs="String">
                <value>150000</value>
            </setting>
            <setting name="CNSLince_UbicacionBD" serializeAs="String">
                <value>Z:\CENTRAL\DBF</value>
            </setting>
        </Devoluciónes.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Devoluciónes.My.MySettings>
            <setting name="CNSGestion_Servidor" serializeAs="String">
                <value>UNIVSYS</value>
            </setting>
        </Devoluciónes.My.MySettings>
    </applicationSettings>
</configuration>